/* desktop design */
/* elements */
a {
  color: #5F6368;
  margin-right: 1rem;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

body, html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  overflow: auto;
  padding: 0;
}

body {
  color: #5F6368;
  font-size: 14px;
}

/* site container */
.wrapper {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

/* header */
.apps-icon {
  color: rgba(0, 0, 0, 0.47);
  display: inline-block;
}

.apps-icon:hover {
  color: rgba(0, 0, 0, 0.87);
}

.header-nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1%;
  -webkit-box-align: baseline;
  align-items: baseline;
}

.profile-icon {
  color: rgba(0, 0, 0, 0.47);
}

.profile-icon:hover {
  color: rgba(0, 0, 0, 0.87);
}

/* main */
.main-logo {
  height: auto;
  padding-bottom: 2%;
  width: 25%;
}

.site-main {
  text-align: center;
}

/* search form */
.btn {
  background-color: #f2f2f2;
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  color: #5F6368;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  font-size: 1.02rem;
  padding: 1% 2%;
  margin: 2%;
}

.btn:focus {
  outline: none;
}

.icon {
  left: 5%;
  position: relative;
  padding-top: 3%;
}

.search-form {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  width: 50%;
  margin: auto;
}

.search-form__field {
  background-image: url('https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png');
  background-position: 98%;
  background-repeat: no-repeat;
  background-size: 30px;
  border: 1px solid rgba(242, 242, 242, 1);
  border-radius: 20px;
  box-shadow: 0 4px 8px 2px rgba(154, 160, 166, 0.5);
  -webkit-box-flex: 1;
  flex: 1 1 75%;
  font-size: 1.14rem;
  margin-bottom: 3%;
  padding: 2% 5% 2% 8%;
}

.search-form__field:focus {
  outline: none;
}

.search-form__icon {
  color: rgba(154, 160, 166, 0.5);
}

/* footer */
.footer-nav {
  background-color: #f2f2f2;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1%;
  line-height: 2;
}
