/* desktop design */
/* elements */
a {
  color: #585858;
  margin-right: 1rem;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

body, html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  overflow: auto;
  padding: 0;
}

body {
  color: #585858;
  font-family: "arial", sans-serif;
  font-size: 14px;
}

/* site container */
.wrapper {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

/* header */
.apps-icon {
  opacity: 0.5;
  display: inline-block;
}

.apps-icon:hover {
  opacity: 0.8;
}

.header-nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1%;
  -webkit-box-align: baseline;
  align-items: baseline;
}

.profile-icon {
  opacity: 0.5;
  vertical-align: middle;
}

.profile-icon:hover {
  opacity: 0.8;
}

/* main */
.main-logo {
  height: auto;
  padding-bottom: 2%;
  width: 25%;
}

.site-main {
  text-align: center;
}

/* search form */
.btn {
  background-color: #f2f2f2;
  color: gray;
  border: none;
  border-radius: 4px;
  font-size: 1.02rem;
  padding: 1% 2%;
  margin: 2%;
}


.btn:focus {
  outline: none;
}

.btn:hover {
  background-color: #f3f3f3;
  border: 1px solid lightgray;
  box-shadow: 0 0 1px 0 #A9ADAA;
  color: #282828;
  cursor: pointer;
}

.icon {
  left: 5%;
  position: relative;
  padding-top: 3%;
}

.search-form {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  width: 45%;
  margin: auto;
}

.search-form__field {
  background-image: url('images/search-icon.svg'), url('https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png');
  background-position: 2%, 98%;
  background-repeat: no-repeat;
  background-size: 25px;
  border: 1px solid #ebebeb;
  border-radius: 20px;
  box-shadow: 0 4px 8px 2px rgba(154, 160, 166, 0.5);
  -webkit-box-flex: 1;
  flex: 1 1 75%;
  font-size: 1.14rem;
  margin-bottom: 3%;
  padding: 2% 5% 2% 8%;
}

.search-form__field:focus {
  outline: none;
}


/* footer */
.footer-nav {
  background-color: #f2f2f2;
  border-top: 1px solid rgb(223, 223, 223);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1%;
  line-height: 2;
}
